<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <link href="css/cards.css" rel="stylesheet" type="text/css">
  <title>Alle Lernkarten</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Lernkarten</h1>
<!--    <ul>-->
<!--      <li th:each="card: ${cards1}">-->
<!--        <span th:text="${card.question}"></span>-->
<!--      </li>-->
<!--    </ul>-->
    <table id="test">
      <tr>
        <th>question</th>
        <th>answer</th>
      </tr>
      <tr th:each="card: ${cards1}">
        <td th:text="${card.question}"></td>
        <td th:text="${card.answer}"></td>
      </tr>
    </table>
  </div>
  <a th:href="@{/}">Zurück</a>
</body>
</html>