<!DOCTYPE html>
<html lang="de" xml:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Alle Lernkarten</title>
    <link th:href="@{/css/cards.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <h1>Lernkarten</h1>


    <form action="" method="POST">
        <label for="folders">Choose a Folder:</label>
        <select name="folderId" id="folders">
            <option value="0" >All</option>
            <!--      Schleife die durch alles durchiteriert was in folders drinnen ist-->
            <option th:each="folder: ${folder1}" th:value="${folder.id}" th:text="${folder.name}"
                    th:selected="${folderId eq folder.id}"></option>
        </select>
        <label for="category">Choose a Category:</label>
        <select name="categoryId" id="category" multiple="multiple">
            <option th:each="category: ${category1}" th:value="${category.id}" th:text="${category.name}"
                    th:selected="${#lists.contains(selectedCategories, category.id)}"></option>
        </select>
        <input type="submit" value="Filtern">
    </form>

    <!--    <ul>-->
    <!--      <li th:each="card: ${cards1}">-->
    <!--        <span th:text="${card.question}"></span>-->
    <!--      </li>-->
    <!--    </ul>-->
    <table id="test">
        <tr>
            <th>question</th>
            <th>answer</th>
            <th>folder</th>
            <th>category</th>
            <th></th>
        </tr>
        <tr th:each="card: ${cards1}">
            <td th:text="${card.question}"></td>
            <td th:text="${card.answer}"></td>
            <td th:text="${card.folder.name}"></td>
            <td><div th:each="cardcat: ${card.cardCategories}" th:text="${cardcat?.category.name}"></div></td>
            <td> <a th:href="@{/edit/{cardId}(cardId =${card.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br>
<a th:href="@{/}">Zurück</a>     <a th:href="@{/learn/folder={folder}/cat={categories}(folder=${folderId}, categories=${selectedCategories})}">Diese Karten jetzt lernen</a>

</body>
</html>