<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AnyLearn Fehler - Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>
<body>
<h1>Fehler</h1>
<p> Du konntest <span th:text="${name}"></span> <span th:text="${mode}"></span> nicht löschen, da ihm noch Karteikarten angehören.</p>
<a class="btn btn-primary" th:href="@{/show/{currUserId}/{name}(currUserId=${currUserId}, name=${name1})}">Übersicht</a>
</body>
</html>