<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AnyLearn !!!! - Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>
<body>
    <th:block th:switch="${name}">
    <div th:case="'Folders'">
        <h1>Ordner <span th:text="${mode}"></span></h1>
    </div>
    <div th:case="'Categories'">
        <h1>Kategorie <span th:text="${mode}"></span></h1>
    </div>
    <div th:case="'Users'">
        <h1>Nutzer <span th:text="${mode}"></span></h1>
    </div>
    </th:block>
<p> Du hast erfolgreich <span th:text="${name}"></span> <span th:text="${mode}"></span>.</p>
<a class="btn btn-primary" th:href="@{/show/{currUserId}/{name}(currUserId=${currUserId}, name=${name1})}">Übersicht</a>
</body>
</html>