<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnyLearn - Lernen</title>
</head>
<body>
<p><div th:text="${card.question}"></div></p>

<p><div th:text="${card.answer}"></div></p>

<form th:action="@{/learn/folder={folder}/cat={categories}/card={card}/0(folder=${folderId}, categories=${selectedCategories}, card=${cardId})}">
    <button type="submit">Falsch, nochmal.</button>
</form>
<form th:action="@{/learn/folder={folder}/cat={categories}/card={card}/1(folder=${folderId}, categories=${selectedCategories}, card=${cardId})}">
    <button type="submit">Richtig, schwer.</button>
</form>
<form th:action="@{/learn/folder={folder}/cat={categories}/card={card}/2(folder=${folderId}, categories=${selectedCategories}, card=${cardId})}">
    <button type="submit">Richtig, leicht.</button>
</form>

<p> <a th:href="@{/}">Startseite</a></p>
</body>
</html>