<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>AnyLearn - Lernen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">


</head>
<body>
<p><div th:text="${card.question}"></div></p>

<p><div th:text="${card.answer}"></div></p>

<form th:action="@{/learn/{currUserId}/folder={folder}/cat={categories}/card={card}/0(folder=${folderId}, categories=${selectedCategories}, card=${cardId})}">
    <button class="btn btn-danger" type="submit">Falsch, nochmal.</button>
</form>
<form th:action="@{/learn/{currUserId}/folder={folder}/cat={categories}/card={card}/1(folder=${folderId}, categories=${selectedCategories}, card=${cardId})}">
    <button class="btn btn-warning" type="submit">Richtig, schwer.</button>
</form>
<form th:action="@{/learn/{currUserId}/folder={folder}/cat={categories}/card={card}/2(folder=${folderId}, categories=${selectedCategories}, card=${cardId})}">
    <button class="btn btn-success" type="submit">Richtig, leicht.</button>
</form>

<br><a class="btn btn-secondary" th:href="@{/}">Startseite</a>
</body>
</html>